
  
  form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  form textarea {
    height: 150px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }

 /* navbar */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
 align-items: center;
  padding: 10px;
  margin-right: 10px;
}
nav{
  flex: 1;
  text-align: right;

}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: black;
}
p{
  color: #555;
}

.container{
  max-width: 1300px;
  margin-bottom: auto;
  padding-left: 40px;
  padding-right: 40px;
  
  
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.row li{
  list-style: none;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.logo img{
  width: 40px;
  height: 50px;
  }
.timepass{
  background-color: rgb(128, 247, 128);
  border-radius: 10%;
  padding: 10px 10px;
  color: black;
}
  .timepass:hover{
      background-color: rgb(90, 212, 90);
  }
.header{
    background-color: #d7f9b4;
    
}
h1{
  text-align: center;
  margin-top: 20px;
}
